.fallback-textstring .fallback {
    margin-bottom: 10px;
}

.fallback-textstring.use-value .fallback .umb-textstring {
    opacity: 0.5;
}

.fallback-textstring .value .umb-textstring {
    opacity: 0.5;
}

.fallback-textstring.use-value .value .umb-textstring {
    opacity: 1;
}