<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Wholething_FallbackTextProperty_Feed" value="https://pkgs.dev.azure.com/harrygordon1000/Wholething.FallbackTextProperty/_packaging/Wholething_FallbackTextProperty_Feed/nuget/v3/index.json" />
  </packageSources>
</configuration>