<div ng-controller="FallbackTextstringController" class="fallback-textstring" ng-class="{'use-value': useValue}">
    
    <div class="fallback">
        <umb-radiobutton name="useValueRadio-{{model.alias}}"
                         value="false"
                         model="useValueStr"
                         text="Default"
                         on-change="onUseValueChange()">
        </umb-radiobutton>
        <input type="text" ng-model="fallback" ng-trim="false" class="umb-property-editor umb-textstring" disabled="disabled" />
    </div>
    
    <div class="value">
        <umb-radiobutton name="useValueRadio-{{model.alias}}"
                         value="true"
                         model="useValueStr"
                         text="Custom"
                         on-change="onUseValueChange()">
        </umb-radiobutton>

        <input ng-if="useValue" type="text" ng-model="model.value" ng-required="useValue" ng-trim="false" class="umb-property-editor umb-textstring" />
    </div>
</div>